<form action= /bands method="post">
  <label for="name">Band Name:>
    <input type="text" name="band[name]" value="<%= @band.name %>">
    <input type="submit" name="Add Band To Database"value="">
  </label>
</form>
