<a class="button" href="/users/new">Go to Sign-up!</a>


<form action=/session method="post">
  <label for="email">Email: </label>
  <input type="text" name="user[email]" value="<%= @user.email %>">
  <label for="password">Password: </label>
  <input type="text" name="[user]password" value="<%= @user.email %>">
  <input type="submit" value="SUBMIT">
</form>
